# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Large datasets
data/*.csv
data/*.jsonl